html, p, h1, h2, h3, div, a, b, {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav a {
  text-decoration: none;
  color: #fff;
  font-size: .8em;
}
.Nav a:hover {
  color: #61dafb
}

.hero-title {
  background-image: url('/assets/images/blurred_backgrounds/blur_bg_3.jpg');
  padding: 10%;
  margin: 0;
  text-align: center;
  color: #fff;
}

.library {
  background-image: url('/assets/images/blurred_backgrounds/blur_bg_3.jpg');
  height: 100%;
  background-size: cover;
}

.selling-points {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/images/concert.jpeg');
  background-size: cover;
  margin: 0;
  padding: 5%;
  color: #fff;
  height: 100vh;

}

#song-list {
  width: 100%;
}

.album-title, .album-artist, .song-length {
  font-size: 1.5em;
  text-decoration: none;
  color: #61dafb;
}

